:root {
    --primary-Cyan: hsl(179, 62%, 43%);
    --primary-Bright-Yellow: hsl(71, 73%, 54%);
    --nutral-Light-Gray: hsl(204, 43%, 93%);
    --nutral-Grayish-Blue: hsl(218, 22%, 67%);  
}
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Karla', sans-serif;
    background: var(--nutral-Light-Gray);
    
}

main{
    width: 90%;
    margin: auto;
    padding: 3rem 0;
    /* border-collapse: separate;
    border-radius: 10px; */
}
.top__desc {
    background: #ffffff;
    padding:2rem 1.5rem;
    font-family: 'karla';
}
.top__desc h2 {
    padding-bottom: 1.5rem;
    color: var(--primary-Cyan);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.020em;
}
.top__desc h3 {
    color: var(--primary-Bright-Yellow);
    font-size: 17px;
    padding-bottom: 1.5rem;
    font-weight: 700;
}
.top__desc small {
    line-height: 1.78;
    color: var(--nutral-Grayish-Blue);
    font-weight: 400;
    font-size: 16px;
    opacity: 85%;
    letter-spacing: 0.025em;
}
.subs__about {
    
    font-family: 'karla';
}
.subs {
    background:var(--primary-Cyan); 
    padding:.5rem 1.5rem;
}
.subs h2 {
    padding-top: 1rem;
    padding-bottom: 1.2rem;
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.040em;
    font-family: 'karla';
}
.subs span:nth-child(2){
    color: #ffffff;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 0.035em;
    display: inline-block;
    padding-bottom: .6rem;
}
.subs span:nth-last-child(3){
    color: #ffffff;
    padding-left: 10px;
    opacity: 50%;
    font-weight: 100;
    letter-spacing: 0.085em;
}
.subs p {
    color: #ffffff;
    font-weight: 400;
    opacity: 75%;
    letter-spacing: 0.035em;
    font-size: 16px;
    font-family: 'karla';
}
#btn {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;
    padding:.75rem;
    background: var(--primary-Bright-Yellow);
    border: 2px solid var(--primary-Bright-Yellow);
    border-radius: 5px;
    color: #ffffff;
    font-weight: lighter;
    font-size: 16px;
    box-shadow: 5px 10px 15px rgba(0,0,0,.1);
}

.about {
    color: #ffffff;
    padding:1.5rem 1.5rem;
    font-family: 'karla';
    font-size: 16px;
    background: rgba(42, 179, 177, 84.81%);
}
.about h2 {
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 1rem;
}
ul,li{
    font-family: 'karla';
    list-style:none;
    line-height: 1.4; 
    font-weight: 400;
    opacity: 86%;
}
.attribution {
   text-align: center;
}
.attribution a {
    font-size: .9rem;
    color: var(--primary-Cyan);
}
@media (min-width:500px) and (max-width:800px) {
    main {
        text-align: center;
    }
}
@media (min-width:801px) and (max-width:1024px) {
  
    main{
        display: flex;
        height: 80%;
        padding-top: 8rem;
    }
    .top__desc h2 {
        font-size: 2rem;
    }
    .top__desc{
        width: 50%; 
        box-shadow: 1px 8px 98px 23px rgba(60,179,165,0.61) inset;
        -webkit-box-shadow: 1px 8px 98px 23px rgba(60,179,165,0.61) inset;
        -moz-box-shadow: 1px 8px 98px 23px rgba(60,179,165,0.61) inset;
    }
    .ipad__pro{
        margin-top: 25%;
    }
    .subs__about {
        width: 50%;
    }
}

@media (min-width:1025px){
    *
    main{
        width: 40%;
        display: flex;
        flex-direction: column;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        text-align: start;
        border-radius: 10px;
    }
    .subs__about{
        display: flex;
        width: 100%;
        
    }
    .subs {
        width: 50%;

    }
    .about {
        width: 50%;
    }
    .attribution {
        text-align: center;
        margin-top: 42%;
     }
}